@font-face {
    font-family: 'DFPZongYiW7-GB';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/DFP_GBZY7.otf") format("opentype");
}
/* 主要使用的字体 */

:root {
    --label-background-color: #DFFF00;
}
/* “当前”和“之后”标签，以及旁边ribbon的颜色 */

body {
    min-height:100vh;
    background: url('imgs/background_img/monsters-transparent-bg.png');
    background-size:cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.87);
    /* 使用了背景图片，暂时没法做到原图里的效果，就加了一层0.87透明度的阴影 */
    color: #fff;
    font-family: 'DFPZongYiW7-GB';
    /* 整体是用DFPZongYiW7-GB的字体，但详细信息里的字体尤其数字略有不同 */
    margin:0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 10px 50px auto;
    font-size: 2.5rem;
    /* Splatoon打工日程的部分 */
}

.label {
    background-color: var(--label-background-color);
    height: 30px;
    border-radius: 30% / 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: calc(-50% + 50px);
    /* 先让标签中心处于左端，然后往右移动50px，有点简单粗暴的微调 */
    color: #000;
}

.label p {
    font-size: 1rem;
    padding: 0.5rem;
    z-index:1;
    /* z-index保证不被ribbon覆盖 */
}

.label::before {
    content: '';
    background-color: var(--label-background-color);
    position: absolute;
    left:0;
    height: 8px;
    width: 100%;
    transform: translateX(-35%);
    /* 也是比较简单粗暴的微调 */
    z-index: 0;
    /* z-index保证ribbon不覆盖标签 */
}

body::before {
    content: '';
    background-color: var(--label-background-color);
    opacity: 0.7;
    position: absolute;
    left: 9px;
    min-height: 100%;
    width: 7px;
    z-index: 0;
    /* 这里是亮黄色竖着的这条ribbon，目前小屏幕下显示可能有些问题 */
}

.footer {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 5px;
    /* "菌菌为您呈现"的部分 */
}
